{
  "presets": [
    "stage-0",
    "es2015",
    "react"
  ],
  "plugins": [
    "dev-expression",
    "transform-class-properties",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-flow-strip-types",
    ["babel-plugin-module-resolver", {
      "cwd": "babelrc",
      "root": ["."],
      "alias": {
        "$ui": "packages/backyard-ui/src",
        "$desktop": "packages/backyard-desktop/src",
        "$redux": "packages/backyard-redux/src"
      }
    }],
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-transform-react-jsx-source",
        "babel-plugin-transform-react-jsx-self"
      ]
    },
    "test": {
      "auxiliaryCommentBefore": "istanbul ignore next",
      "plugins": [
        "istanbul"
      ]
    }
  }
}
